# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
**/lib

# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/.nyc_output/
/libpeerconnection.log
npm-debug.log
testem.log
lerna-debug.log
/typings

# system files
.DS_Store
Thumbs.db

# environment file
.env

# temp files
**/tmp
**/temp

**/upload
**/uploads
**/files

**/package-lock.json

**/tsconfig.tsbuildinfo

