# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
**/lib

# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/.nyc_output/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# system files
.DS_Store
Thumbs.db

# environment file
.env

# TypeScript cache
*.tsbuildinfo

# temp files
**/tmp
**/temp

**/upload
**/uploads
**/files



