LOG_LEVEL=debug
UPLOAD_DIR='upload'
PORT=3002

# Get this from https://console.cloud.google.com/projectselector2/iam-admin/serviceaccounts?supportedpurview=project
GCS_BUCKET=node-uploadx.appspot.com
GCS_KEYFILE=~/.gcs-credentials.json


# See also https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/loading-node-credentials-environment.html
S3_BUCKET=uploadx
S3_ENDPOINT=https://s3.us-west-002.backblazeb2.com
S3_DEBUG=false

# Path to file with accessKeyId and secretAccessKey and region(optional)
# S3_KEYFILE=.s3-config.example

AWS_ACCESS_KEY_ID=fAkuAQJXESQkeYExAmple
AWS_SECRET_ACCESS_KEY=euvs44sECrETnedtEGodDxJA7vnNXSEcReteXAmpLE
AWS_DEFAULT_REGION=us-west
AWS_REGION=us-west


