UPLOADX_SECRET=your-strong-random-secret-here

LOG_LEVEL=debug
UPLOAD_DIR='upload'
PORT=3002

# Get this from https://console.cloud.google.com/projectselector2/iam-admin/serviceaccounts?supportedpurview=project
GCS_BUCKET=node-uploadx.appspot.com
GCS_KEYFILE=~/.gcs-credentials.json




S3_DEBUG=false

# See also https://docs.aws.amazon.com/sdkref/latest/guide/creds-config-files.html

AWS_ENDPOINT=https://s3.us-west-002.backblazeb2.com
AWS_ACCESS_KEY_ID=fAkuAQJXESQkeYExAmple
AWS_SECRET_ACCESS_KEY=euvs44sECrETnedtEGodDxJA7vnNXSEcReteXAmpLE
AWS_REGION=us-west


